<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.city.picker">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseCompactTheme">
        <activity
            android:name=".view.activity.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".view.activity.CheckPermissionsActivity" />
    </application>

</manifest>